@import '../../const.styl'

.head
  padding 5em
  text-align center

.col
  background #fff
  transition all .5s
  max-width 100%
  overflow hidden
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content space-between
  position relative
  margin-top 1em
  
  &:after
    content ""
    width 66%
  .item
    flex-shrink 0
    margin 1em auto
    width 28%
    min-width 300px;
    .title,
    .content
      cursor pointer
      padding-left .5em
    .title
      margin 1em auto 0em auto
      font-weight 600
      &:hover
        color rgb(0, 122, 255)
    .content
      margin-top .5em

bar-height = 240px

@keyframes modelShowUp
  0%
    height 0px
  50%
    top bar-height
    height "calc(100vh - %s)" % bar-height
    opacity 1
  100%
    top 0
    height 100vh
    opacity 1

.modelContainer
  position fixed
  opacity 0
  left 0
  height 0
  width 100vw
  z-index 1000
  background #ffffff
  animation-name modelShowUp
  animation-delay .2s
  animation-duration .5s
  animation-fill-mode forwards

  box-shadow 0px 0px 10px rgba(0, 0, 0, .5)
  overflow scroll

.modelTopbar
  padding .5em calc((100vw - 1000px) / 2)
  transition background-color .2s0
  cursor pointer
  &:hover
    background-color #eee
  p
    color text-link
    font-weight 20
    &:before
      content "↩"
      padding .5em
      margin-right 1em
      display inline-block
      border solid 2px text-link
      border-radius 100%