@import '../../const.styl'

.col
  background #fff
  max-width 100%
  overflow hidden
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content space-between
  position relative
  margin-top 1em
  transition .2s transform
  
  &:after
    content ""
    width 66%
  .item
    flex-shrink 0
    margin 1em auto
    width 28%
    min-width 300px;
    .title,
    .content
      cursor pointer
      padding-left .5em
    .title
      margin 1em auto 0em auto
      font-weight 600
      &:hover
        color rgb(0, 122, 255)
    .content
      margin-top .5em

@media screen and (max-width: 641px)
  .col .item
    width 100%

bar-height = 240px

@keyframes modelShowUp
  0%
    transform translate3d(0, 0, 0)
    height 0vh
  10%
    transform translate3d(0, bar-height, 0)
    height 0vh
    opacity 1
  60%
    transform translate3d(0, bar-height, 0)
    height 100vh
  100%
    transform translate3d(0, 0, 0)
    height 100vh
    opacity 1

.modelContainer
  position fixed
  opacity 0
  top 0
  left 0
  transform translate3d(0, 0, 0)
  width 100vw
  z-index 1000
  background #ffffff
  animation-name modelShowUp
  animation-delay .2s
  animation-duration .8s
  animation-fill-mode forwards

  box-shadow 0px 0px 10px rgba(0, 0, 0, .5)
  overflow scroll

.modelTopbar
  padding .5em calc((100vw - 1000px) / 2)
  transition background-color .2s
  cursor pointer
  &:hover
    background-color #eee
  p
    margin-left -2.4em
    color text-link
    font-weight 20
    &:before
      content "↩"
      height 1em
      width 1em
      padding .2em
      margin-right 1em
      display inline-block
      border solid 2px text-link
      border-radius 100%

@media screen and (max-width: 1100px)
  .modelTopbar p
    margin-left 1em