@import "../const.styl"

body
  background #FAFAFA
  font-size 17.36px
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.container
  max-width 1000px
  margin 0px auto
  padding 0px 40px
  a
    color text-link
    text-decoration none

.head
  padding 4em 0
  display flex
  flex-direction column
  align-content center
  justify-content space-between
  .logo
    margin 2em auto
  p
    margin 0
  p.intro
    font-family "Georgia", serif
    font-size 1.2em
    line-height 1.4em
    font-style italic
    text-align center
    color text-content
  p.secondary
    text-align center
    color text-secondary


bar-height = 240px

@keyframes modelShowUp
  0%
    transform translate3d(0, 0, 0)
    height 0vh
  10%
    transform translate3d(0, bar-height, 0)
    height 0vh
    opacity 1
  60%
    transform translate3d(0, bar-height, 0)
    height 100vh
  100%
    transform translate3d(0, 0, 0)
    height 100vh
    opacity 1

.modelContainer
  position fixed
  opacity 0
  top 0
  left 0
  transform translate3d(0, 0, 0)
  width 100vw
  z-index 100
  background #fafafa
  animation-name modelShowUp
  animation-delay .2s
  animation-duration .8s
  animation-fill-mode forwards

  box-shadow 0px 0px 10px rgba(0, 0, 0, .5)
  overflow-y scroll
  -webkit-overflow-scrolling touch

.modelTopbar
  padding .5em calc((100vw - 1000px) / 2)
  transition background-color .2s
  cursor pointer
  &:hover
    background-color #eee
  p
    margin-left -2.4em
    color text-link
    font-weight 20
    &:before
      height 1em
      width 1em
      padding .2em
      margin-right 1em
      display inline-block
      line-height 1em
      border solid 2px text-link
      border-radius 100%

.returnIconBefore:before
  content "↩"

.checkoutIconBefore:before
  content "☜"

@media screen and (max-width: 641px)
  .modelTopbar p:before
    border none
@media screen and (max-width: 1100px)
  .modelTopbar p
    margin-left 1em

@keyframes titleFlipEntry
  100%
    transform rotate3d(1, 0, 0, 0deg)

.flipEntry
  :before
    transform rotate3d(1, 0, 0, 0deg)
  transform rotate3d(1, 0, 0, 90deg)
  transform-origin top
  animation-fill-mode forwards
  animation-name titleFlipEntry
  animation-duration .4s
  animation-delay 1s