@import '../../const.styl'

text-link = #007aff
text-primary = #000000
text-secondary = #8E8E93

.container
  max-width 1000px
  margin 0px auto
  padding 0px 40px
  background #fff
  font-size 17.36px
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  a
    color #007AFF
    text-decoration none

.meta
  display flex
  justify-content space-between
  align-items center
  @media screen and (max-width: 769px)
    flex-direction row
    flex-wrap wrap

  @media screen and (min-width: 769px)
    & > *
      flex 1 0 auto
      height 100%
      &:nth-child(1)
        width 60%
      &:nth-child(2)
        width 40%

  .alignLeftHalf
    display block

.title
  font-size 2em
  line-height 1em
  margin 1.2em 0 .5em 0

.content
  margin 0

.infoContianer
  display flex
  width 100%
  justify-content space-between
  margin-top 1em
  & > *
    width 25%
  .infoTitle
    color text-secondary
.showAllInfo
  line-height 2em
.btnContainer
  margin 1em 0

.sampleContainer
  display flex
  box-sizing content-box
  flex-direction row
  flex-wrap nowrap
  position relative
  margin-top 1em
  padding 35px
  overflow-x scroll
  overflow-y hidden
  left calc((100% - 100vw) / 2)
  width calc(100vw - 70px)
  background #eee

.sampleValuePair
  height 100%
  display flex
  flex-direction column
  flex-shrink 0
  flex-grow 0
  margin 20px
  .inputs
    z-index 3
  .outputs
    z-index 1
  .arrow
    z-index 2
    margin-top -110px
    margin-bottom -40px
    margin-left 50%
    transform translateX(-50%)
  .inputs,
  .outputs
    display flex
    flex-direction row
    justify-content space-around
    & > *:not(:first-child)
      margin-left -60px

round-size = 13.89px
types = int64, double, string, dictionary, pixelBuffer, multiArray, undefined

.sampleValue
  width 200px
  height 150px
  border-radius round-size
  background #fff
  box-shadow 0 1px 5px 0 rgba(0,0,0,0.20)

  &:before
    text-transform uppercase
    padding 0px round-size
    border-radius round-size 0 round-size 0
    background: rgba(0, 0, 0, .25)
    color #fff

  for type in types
    &.{type}:before
      content ''+typenames[type]

.ioLayout
  display flex
  justify-content space-around