@import '../../const.styl'

.meta
  display flex
  justify-content space-between
  align-items center
  @media screen and (max-width: 769px)
    flex-direction row
    flex-wrap wrap

  @media screen and (min-width: 769px)
    & > *
      flex 1 0 auto
      height 100%
      &:nth-child(1)
        width 60%
      &:nth-child(2)
        width 40%

  .alignLeftHalf
    display block

.title
  font-size 2em
  line-height 1em
  margin 1.2em 0 .5em 0

.content
  margin 0

.infoContianer
  display flex
  width 100%
  justify-content space-between
  flex-wrap wrap
  & > *
    width 40%
    margin-top 1em
  .infoTitle
    color text-secondary
.showAllInfo
  line-height 2em
.btnContainer
  margin 1.5em 0

.sampleContainer
  display flex
  box-sizing content-box
  flex-direction row
  flex-wrap nowrap
  position relative
  margin-top 1em
  padding 35px
  overflow-x scroll
  overflow-y hidden
  -webkit-overflow-scrolling touch
  left calc((100% - 100vw) / 2)
  width calc(100vw - 70px)
  background #eee

.ioLayout
  display flex
  justify-content space-around