@import "../const.styl"

.round
  display inline-block
  padding 0em .45em
  margin-right .8em
  box-sizing border-box
  height 1.4em
  min-width 4em
  line-height calc(1.4em - 2px)
  text-align center

  font-size 1em
  letter-spacing 0.02px
  font-weight 400
  text-transform uppercase

  border 1px solid text-link
  border-radius 2em
  color text-link
  background transparent
  cursor pointer
  user-select none

  &.main
    background text-link
    color #fff!important
    font-weight 600

.simple
  margin .45em
  margin-left 0em
  padding 1em
  font-weight 600
  border-radius .5em
  cursor pointer
  &.main
    color white
    background text-link
  &:not(.main)
    color text-link
    &:hover
      background #f3f3f3