.btn
  display inline-block
  margin-right .8em
  min-width 5em
  height 28px
  line-height 28px
  text-align center

  letter-spacing 0.02px
  font-weight 400
  text-transform uppercase

  border 1px solid #007AFF
  border-radius 2em
  color #007AFF
  background transparent
  cursor pointer
  user-select none

.main
  background #007AFF
  color #fff!important
  font-weight 600