@import '../const.styl'

.sampleValuePair
  height 100%
  display flex
  flex-direction column
  flex-shrink 0
  flex-grow 0
  margin 20px
  .inputs
    z-index 3
  .outputs
    z-index 1
  .arrow
    z-index 2
    margin-top -110px
    margin-bottom -40px
    margin-left 50%
    transform translateX(-50%)
  .inputs,
  .outputs
    display flex
    flex-direction row
    justify-content space-around
    & > *:not(:first-child)
      margin-left -60px

round-size = 13.89px

@keyframes pop_up
  0%
    // bottom 0px
  50%
    transform scale(1.02)
    // bottom 5px
  100%
    // bottom 0px

.sampleValue
  position relative
  width 200px
  height 150px
  padding .5em
  box-sizing border-box
  display flex
  justify-content center
  align-content center
  flex-direction column
  overflow hidden

  border-radius round-size
  background #fff
  background-size cover
  box-shadow 0 1px 5px 0 rgba(0,0,0,0.20)
  cursor zoom-in

  & > p
    text-align center
    vertical-align middle

  &:before
    position absolute
    top 0
    left 0
    text-transform uppercase
    padding 0px round-size
    border-radius round-size 0 round-size 0
    background: rgb(192, 192, 192)
    color #fff
  for type, humanFriendlyName in typenames
    &.{type}:before
      content ''+humanFriendlyName
  
  &:hover
    z-index 4
    animation pop_up .3s ease-out