@import '../const.styl'

.sampleValuePair
  display flex
  flex-direction column
  flex-shrink 0
  flex-grow 0

.sampleValuePair
  height 100%
  margin 20px
  .inputs
    z-index 3
  .outputs
    z-index 1
  .arrow
    z-index 2
    margin-top -110px
    margin-bottom -40px
    margin-left 50%
    transform translateX(-50%)
  .inputs,
  .outputs
    display flex
    flex-direction row
    justify-content space-around
    & > *:not(:first-child)
      margin-left -60px

.keySamplePair
  position relative
  overflow hidden
  width 266.43px
  height 233px
  padding 5px
  .input
    z-index 2
  .output
    z-index 3
    left 64.58px
    top -40.55px
  .arrow
    z-index 5
    position absolute
    top 119px

@keyframes pop_up
  0%
    transform scale(1)
  50%
    transform scale(1.02)
  100%
    transform scale(1)

.sampleValue
  position relative
  padding .5em
  box-sizing border-box
  display flex
  justify-content center
  align-content center
  flex-direction column
  overflow hidden

  background #fff
  background-size cover
  box-shadow 0 1px 5px 0 rgba(0,0,0,0.20)
  cursor zoom-in

  & > p
    text-align center
    vertical-align middle

  &:before
    position absolute
    top 0
    left 0
    text-transform uppercase
    background: rgb(192, 192, 192)
    color #fff
  for type, humanFriendlyName in typenames
    &.{type}:before
      content ''+humanFriendlyName
  
  &:hover
    z-index 4
    animation pop_up .3s ease-out

sampleValueSizer(w, h, r)
  width w
  height h
  border-radius r
  &:before
    padding 0px r
    border-radius r 0 r 0

displayTagOnHover()
  &:before
    opacity 0
  &:hover:before
    opacity 1

.sampleValue.full
  sampleValueSizer(200px, 150px, 13.89px)

.sampleValue.mini
  sampleValueSizer(161.8px, 121.5px, 13.89px)
  displayTagOnHover()
  cursor pointer

.sampleValue.medium
  sampleValueSizer(194.44px, 145.83px, 13.89px)
  displayTagOnHover()
  cursor pointer