text-link = #007aff
text-primary = #000000
text-secondary = #8E8E93

typenames = {
  int64: int64,
  double: double,
  string: string,
  dictionary: dictionary,
  pixelBuffer: image,
  image: image,
  multiArray: multiArray,
  undefined: undefined,
}